
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    --webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
:root {
    font-size:62.5%
}

body{
    width:100%;
    height:100%;
    color:#fff;
    font-family:Arial,sans-serif;
    overflow-x:hidden;
    background-image: url("assets/carol-fernandes-I6SOBbA4HdI-unsplash.webp");
}
.container {
    padding:50px 20px
}
h1 {
    font-size:24px;
    text-transform:uppercase;
    margin-bottom:20px;
}
p {
    font-size:23px;
   
}
.video-container {
    width:80%;
    max-width:640px;
    margin:20px auto;
    padding:10px;
    border-radius:8px
}
iframe {
    width:100%;
    height:360px;
    border:none
}
.cta-button {
    display:inline-block;
    padding:15px 30px;
    background:linear-gradient(45deg,#ff7b00,#ff9100);
    text-decoration:none;
    border-radius:5px;
    font-size:25px;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    transform:translateY(20px)
}
.cta-button.show,.feature.show {
    opacity:1;
    transform:translateY(0)
}
.cta-button:hover {
    transform:translateY(-5px);
    box-shadow:0 6px 12px #01ff01
}

.cta-button,h1 {
    font-weight:700;
    color:#ffffff
}
.cta-button,.feature {
    transition:opacity 1.5s ease-in-out,transform 1.5s ease-in-out
}
.cta-button,.feature-item,body,html {
    text-align:center
}





@media (max-width:768px) {
    .cta-button,h1 {
        font-size:20px
    }
    .container {
        padding:30px 10px
    }
    .feature-item h3,p {
        font-size:16px
    }
    .video-container {
        width:90%
    }
    iframe {
        height:240px
    }
    .cta-button {
        padding:10px 20px
    }
    .feature {
        gap:20px
    }
    .feature-item {
        width:120px;
        padding:15px
    }
    .feature-icon {
        width:40px;
        height:40px
    }
    .feature-item p {
        font-size:12px
    }
}
@media (max-width:480px) {
    .cta-button,h1 {
        font-size:18px
    }
    .container {
        padding:20px 5px
    }
    .feature-item h3,p {
        font-size:14px
    }
    .video-container {
        width:100%
    }
    iframe {
        height:180px
    }
    .cta-button {
        padding:8px 16px
    }
    .feature {
        gap:10px
    }
    .feature-item {
        width:100px;
        padding:10px
    }
    .feature-icon {
        width:30px;
        height:30px
    }
    .feature-item p {
        font-size:10px
    }
}

